---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate">
  <Container>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">&copy; {new Date().getFullYear()} • {SITE.TITLE}</div>
      <div class="flex items-center gap-3">
        <BackToTop />
      </div>
    </div>
  </Container>
</footer>